html {
    overflow-x: hidden;
}

body {
    background-image: url("/images/LightHouse.jpg");
}

header {
    background-color: rgb(91, 91, 91);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

header a {
    text-decoration: none;
    color: white;
}

.companyName {

    text-align: center;
    color: white;
}

.navBar {

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.navBar a {
    margin-bottom: 0.5em;

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.mission {
    opacity: 80%;

    background-color: whitesmoke;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    height: 250px;
    border-radius: 25px;
    margin: 300px auto auto 100px;
    padding: 5px;
    text-align: center;
    color: black;
    border: 1px solid rgb(224, 224, 224);
}

.mission p {
    padding: 10px;
    font-size: 18px;
}

.images {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: -425px 150px auto auto;
}

img {
    background-color: whitesmoke;
    opacity: 80%;

    border-radius: 25px;
    margin: 10px;   
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(224, 224, 224);
} 

.addInfo {
    background-color: whitesmoke;
    opacity: 80%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 150px;
    border-radius: 25px;
    margin: 25px auto;
    padding: 5px;
    text-align: center;
    color: black;
    border: 1px solid rgb(224, 224, 224);
}